body {
    height: 100vh;
}

ol {
    color: black;
    list-style-type: none;
    padding: 0;
}

ol li {
    cursor: pointer;
    background: rgb(255, 255, 255);
    padding: 8px 16px;
    border-bottom: 1px solid gray;
}

ol li:hover {
    opacity: 0.8;

}

ol li.expense {
    border-left: 10px solid red;
}

ol li.income {
    border-left: 10px solid green;
}

ol li:hover .remove-button {
    display: block;
}

p {
    margin: 4px 0;
}

/* Estilo do botão de Remover */
.remove-button {
    background-color: transparent; /* Fundo transparente */
    color: #e74c3c; /* Cor do texto vermelho */
    font-size: 16px;
    padding: 12px 24px; /* Aumentando o padding para um tamanho mais imponente */
    border: 2px solid #e74c3c; /* Borda vermelha */
    border-radius: 0px; /* Deixando o botão quadrado */
    cursor: pointer;
    font-weight: bold; /* Letra em negrito */
    text-transform: uppercase; /* Texto em maiúsculas */
    letter-spacing: 0.5px; /* Espaçamento entre as letras */
    transition: all 0.3s ease; /* Animações suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave e discreta */
    float: right;
    width: auto;
    display: none;
}

.remove-button:hover {
    background-color: #e74c3c; /* Cor de fundo vermelha ao passar o mouse */
    color: white; /* Cor do texto para branco */
    border-color: #c0392b; /* Borda mais escura ao passar o mouse */
    transform: scale(1.05); /* Aumenta o tamanho levemente */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte no hover */
}

.remove-button:active {
    background-color: #c0392b; /* Cor mais escura ao clicar */
    border-color: #9b2d20; /* Borda mais escura ao clicar */
    transform: scale(0.98); /* Efeito de "pressionar" */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Sombra mais suave ao clicar */
}

.remove-button:focus {
    outline: none; /* Remove o contorno padrão */
    box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.4); /* Sombra suave ao focar */
}
